{% extends 'base.html' %}
{% block content %}
<section data-scroll-index="0" id="pricing" class="pricing-area pt-115">
    <div id="home" class="header-hero bg_cover d-lg-flex align-items-center"
        style="background-image: url(../assets/images/header-hero.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-hero-content">
                        <h1 class="hero-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                            <b>请选择要处理的文件</b>
                        </h1>
                        <div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                            <div class="form-group inputDnD">
                                <input type="file" class="form-control-file text-primary font-weight-bold"
                                    id="upload-file-name"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    onchange="readFilePath(this)" data-title="点击添加或拖动到此处">
                            </div>
                        </div>
                        <!-- partial -->
                        <div class="header-singup wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                            <input type="text" id="upload-file-path" placeholder="请输入文件路径，默认为程序所在位置">
                            <button class="main-btn" onclick="uploadFile()">上传</button>
                        </div>
                    </div> <!-- header hero content -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-pricing text-center pricing-active pricing-color-2 mt-30 wow fadeIn"
                        data-wow-duration="1s" data-wow-delay="0.6s"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="pricing-title mt-20">
                            <h4 class="title">已上传列表</h4>
                        </div>
                        <div class="pricing-list pt-40">
                            <ul id="upload-file-list">
                                <li>
                                    <span id="full-file-path" style="padding-right: 20px;">测试</span><a
                                        class="main-btn main-btn-2" onclick="deleteFilePath(this)">删除</a>
                                </li>
                            </ul>
                        </div>
                        <div class=" pricing-btn pt-70">
                            <a class="main-btn" href="tasks.html">开始处理！</a>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div> <!-- header hero -->
</section>
{% endblock %}